.title-list {
  margin: 40px 100px;
  color: #24355A;
}

@media (max-width: 480px) {
  .title-list {
    margin: 40px 50px;
  }
}

.list {
  padding: 0 100px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media (max-width: 1120px) {
  .list {
    padding: 0 20px 120px;
  }
}

.removed-listing {
  width: 320px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
  padding: 12px;
  color: #333;
}

